<% provide(:title, 'Home') %>


<h1 class="center">Silvertime</h1>

<div class="row signed-out">
  <div class="col-md-1 col-md-offset-5">
    <%= link_to  "Log in", signin_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

